.container-fluid {
    margin: 0 auto;
    justify-content: center;
} 

.form-group {
    margin: 0 auto;
    justify-content: center;
}

.row {
    margin: 0 auto;
    justify-content: center;
}

.col-1, .col-2 {
    text-align: right;
}

#articleText {
    width: 800px;
    height: 500px;
}

.col-lg-8 {
    justify-content: center;
}

.btn {
    margin: 0 auto;
}