<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!--/*/ <th:block th:include="fragments/curiolook.html :: head">
                </th:block> /*/-->
        <link rel="stylesheet" type="text/css" href="css/add_article.css"/>
        <script src="https://cdn.tiny.cloud/1/0jxbt04k3d4m9lyt4m88w4l5b9nu1rkqgx7ibag8wrub9p57/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
            selector: 'textarea',
            menubar: 'edit view'
            });
        </script>
        <title>Add Article</title>
    </head>
    <body>
        <header>
            <div th:replace="fragments/curiolook.html :: navbar"></div>
            <h1>Add Article</h1>
            <hr>
        </header>
        <form class="container-fluid" action="add_article" method="POST">
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group row">
                        <label for="author" class="col-2 col-form-label">Author Name: </label>
                        <div class="col-3">
                            <select multiple id="author" name="author" class="form-control" >
                                <option th:each="author : ${authors}" th:value="${author.authorId}" th:text="${author.userName}">Author Name</option>
                            </select>
                        </div>
                        <label for="items" class="col-1 col-form-label">Item(s): </label>
                        <div class="col-3">
                            <select multiple id="items" name="items" class="form-control" >
                                <option th:each="item : ${items}" th:value="${item.itemId}" th:text="${item.itemName}">Item Name</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group row">
                        <label for="articleTitle" class="col-1 col-form-label">Title: </label>
                        <div class="col-7">
                            <input type="text" name="articleTitle" id="articleTitle" class="form-control">
                        </div>
                    </div>
                    <br/><br/>
                    <div class="form-group row">
                        <label for="articleText" class="col-1 col-form-label">Article: </label>
                        <div class="col-lg-8">
                            <textarea name="articleText" id="articleText"
                                th:html="${articleText}">
                            </textarea>
                            <br/><br/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary btn-lg badge-pill" id="previewSubmit"> Preview </button>
                    </div>
                </div>
            </div>
            </div>
        </form>
        <div th:replace="fragments/curiolook.html :: includes"></div>
    </body>
</html>