<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!--/*/ <th:block th:include="fragments/curiolook.html :: head">
            </th:block> /*/-->
        <title>All Collectibles</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/view_all_collection.css">
    </head>

    <body>
        <header>
            <div th:replace="fragments/curiolook.html :: navbar"></div>
            
            <h1 class="text-center">All Collectibles</h1>
            <br/>
        </header>

        <div class="container-fluid accordion">
            <div class="row" id="row1">
                <div class="col-md-10 ">
                    
                        <div class="row" id="items">

                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item1.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">Normal Spoon</a>
                                    </div>
                                    <div id="collapse1" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>spoonspoonspoonspoonspoonspoonspoonspoonspoonspoonspoonspoonspoonspoonspoonspoon</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item2.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">Normal Wine Glass</a>
                                    </div>
                                    <div id="collapse2" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>winewinewinewinewinewinewinewinewinewinewinewinewinewinewinewinewinewinewinewine</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item3.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">Normal Mug</a>
                                    </div>
                                    <div id="collapse3" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>mugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmugmug</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item4.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">Normal Toothbrush</a>
                                    </div>
                                    <div id="collapse4" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>brushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrushbrush</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item5.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">Normal Watering Can</a>
                                    </div>
                                    <div id="collapse5" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>waterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwaterwater</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item6.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">Normal Fork</a>
                                    </div>
                                    <div id="collapse6" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>forkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkforkfork</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item7.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">Normal Ruler</a>
                                    </div>
                                    <div id="collapse7" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>rulerrulerrulerrulerrulerrulerrulerrulerrulerrulerrulerrulerrulerrulerrulerrulerruler</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img src="images/item8.jpg" class="card-img-top" alt="...">
                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">Normal Key</a>
                                    </div>
                                    <div id="collapse8" class="collapse" data-parent=".accordion">
                                        <div class="card-body">
                                            <p>keykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykeykey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                </div>
            </div>
        </div>

        <div th:replace="fragments/curiolook.html :: includes"></div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
